/* 기초 설정 */
* {
    box-sizing: border-box;
}

/* -------nav1----------- */
.nav1{
    padding: 7px 19px;
    background-color: #003875;
}

/* 컨테이너 넓이 설정, 가운데맞춤 */
.top_container{
    width: 60%;
    margin :0 auto;
}


/* 버튼 우측정렬 */
.buttons{
    float: right;
}

/* float에 영향받지 않게 */
nav ::after{
    content:"";
    display: block;
    clear: both;
}

/* 버튼 스타일 */
.button1 {
    background-color: #001a38;
    color: #FFFFFF;
    border:none;
    border-radius:2px;
    padding: 2.8px 14px;
    font-size: 14px;
    font-weight: 700;
}
.button2 {
    background-color: #3076d6;
    color: #FFFFFF;
    border:none;
    border-radius:2px;
    padding: 2.8px 14px;
    font-size: 14px;
    font-weight: 700;
}



.nav2{
    /* 세로로 있던 박스를 가로로 */
    display: flex;
    /* 박스들 사이에 빈 공간 넣기 */
    justify-content: space-between;
    /* 박스들을 navbar 내에서 가운데 정렬 */
    align-items: center;
    /* 배경색 지정 */
    background-color: #001a38;
    /* 공백 */
    padding: 0px 8px;
}


/* 윈도우 전 영역 설정 */
body {
    /* 공백을 다시 없앰 */
    margin: 0;
    /* 전체 배경 색 지정 */
    background-color: #FFFFFF;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.navbar_logo {
    /* 컨테이너 내 왼쪽 정렬 */
    float: left;
    /* 수평 가운데 맞춤(컨테이너 높이에 맞춤) */
    display: block;
    height: 90px;
    line-height: 90px;
    font-size: 35px;
    font-weight: 700;
}


/* nav 전체의 태그 꾸미기 */
nav a:link, a:visited {
    /* 태그의 파란글씨와 밑줄 없애기 */
    text-decoration: none;
    color: #FFFFFF;
}

/* navbar_menu 박스 수정 */
.navbar_menu{
    /* li 태그 구분점 없앰 */
    list-style: none;
    /* 가로로 변경 */
    display: flex;
    /* 공백 생기는 것 없앰 */
    margin: 0;
    float: right;
    font-size: 17px;
    font-weight: 500;
}

/* .navbar_menu안의 리스트 간의 여백 추가 */
.navbar_menu li{
    /* padding: 20px 20px; */
    padding : 30px 0px 30px 40px
}



/* ------------nav3------------- */
.nav3{
    height: 50px;
    padding: 1px 0px;
    background-color: #60a2ff;
}

/* 컨테이너 넓이 설정, 가운데맞춤 */
.nav3_container{
    width: 60%;
    margin :0 auto;
    height: 49;
}

.nav3_close {
    float: right;
}

.nav3_adv {
    float: left;
}

.nav3_btn {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    margin: 8px 0px
    /* height : 49px; */
}


/* ----------------section------/ */
.sec_adv_img {
    width: 100%;
}


/* -------------검색창------------ */

.yellow_rec {
    width: 1100px;
    height: 120px;
    background-color: #f2cb49;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 500px;
    padding-top: 35px;
    display: flex;
    padding-left: 27px;
    padding-right: 27px;
}

.white_rec {
    width: 780px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    float: left;
}

.grey_rec {
    width: 120px;
    height: 50px;
    background-color: #3e3e40;
    border-radius: 5px;
    margin: 0 auto;
    float: left;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.border_rec {
    background-color: transparent;
    border: 1px #3e3e40 solid;
    box-shadow: none;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    float: left;
}

.white_rec_txt {
    position: absolute;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #c4c4c4;
}

.grey_rec_txt {
    width: 120px;
    position: absolute;
    font-size: 16px;
    margin-top: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
/* q. 왜 텍스트 가운데정렬이 안되는가. */

.border_rec_txt {
    width: 120px;
    position: absolute;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}